<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tiny-SPA: Single Page Application Framework</title>
</head>
<body>
    <a t-route="/about" template-url="" controller-url=""><span>about</span></a>
    <div t-load="templates/header"></div>
    <div t-view></div>
    <div t-load="templates/footer"></div>
    
    <!--script loading-->

    <!--<script src="lib/jquery-2.1.4.js"></script>-->

    <script src="src/http-service.js"></script>
    <script src="src/template-loader-service.js"></script>
    <script src="src/script-loader-service.js"></script>
    <script src="src/t.js"></script>
    <script src="app.js"></script>


    <script src="src/example/service-example.js"></script>

    <!--<div ng-app="myApp">
        <div ng-controller="myParentCtrl">
            {{msg}}
            <a href="javascript:void(0)" ng-click="onclick()">parent click</a>
            <div ng-controller="myParentCtrl1">

                <div ng-controller="myChildCtrl">
                    <a href="javascript:void(0)" ng-click="onclick('a', 'b')">child click</a>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/angular.js"></script>
    <script src="src/test-ang-app.js"></script>-->

    <!--<a href="#" id="testd">call</a>
    <a href="#" id="modifier">modify</a>-->
</body>
</html>
